@font-face {
    font-family: yekan;
    src: url("../fonts/yekan.woff") format('woff');
    font-weight: normal;
}

@font-face {
    font-family: yekanf;
    src: url("../fonts/yekanf.woff") format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'IranSans';
    font-weight: 200;
    src: url('../fonts/IRANSansWeb200.woff') format('woff');
}

@font-face {
    font-family: 'IranSans';
    font-weight: 300;
    src: url('../fonts/IRANSansWeb300.woff') format('woff');
}

@font-face {
    font-family: 'IranSans';
    font-weight: 400;
    src: url('../fonts/IRANSansWeb400.woff') format('woff');
}

@font-face {
    font-family: 'IranSans';
    font-weight: 500;
    src: url('../fonts/IRANSansWeb500.woff') format('woff');
}

@font-face {
    font-family: 'IranSans';
    font-weight: 600;
    src: url('../fonts/IRANSansWeb600.woff') format('woff');
}

@font-face {
    font-family: 'IranSans';
    font-weight: 900;
    src: url('../fonts/IRANSansWeb900.woff') format('woff');
}

body {
    font-size: 1.1em;
    font-family: yekanf;
    background: #CB356B;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(219, 75, 59), #CB356B);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 400px;
}

.hidden {
    display: none;
}

.wrapper {

    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.upload-console {
    background-color: #fefefe;
    border: 2px solid #eee;
    padding: 20px;
    text-align: center;
}

.upload-consol-header {

    padding: 0 0 20px 0;
    margin: 0;
    font-weight: 600;
    margin-bottom: 20px;
    border-bottom: 2px solid #eee;
}

.upload-console-body {
    text-align: right;
}

form {
    text-align: center;
}

.upload-console-drop {
    height: 200px;
    border: 1px dashed #ccc;
    color: #ccc;
    line-height: 200px;
    text-align: center;
    margin-bottom: 20px;
}

/* .upload-console-drop,
.drop {
    border-color: #222;
    color: #222;
} */




.drop {
    border-color: #222;
    color: #222;
}





.upload-console-body {
    margin-bottom: 20px;
}

.bar {
    width: 100%;
    background-color: #eee;
    padding: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    margin-bottom: 20px;
}

.bar-fill {
    height: 30px;
    display: block;
    background-color: cornflowerblue;
    width: 0;
    border-radius: 3px;
    transition: width 0.8s ease;
}

.bar-fill-text {
    text-align: left;
    color: #fff;
    line-height: 30px;
    margin-left: 10px;
}

.upload-consle-upload {
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: left;
}






.upload-consle-upload {
    display: flex;
  
}

.upload-consle-upload a{
    width: 50%;
   
}

.upload-consle-upload span{
    width: 50%;
    text-align: right;
  
}